    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    strong,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
    }
    
    body,
    html {
        width: 100%;
    }
    
    body {
        line-height: 1;
    }
    
     :focus {
        outline: 1;
    }
    
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary {
        display: block;
    }
    
    ul {
        list-style: none;
    }
    
    .fl {
        float: left;
    }
    
    .fr {
        float: right;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    ol {
        list-style: none;
    }
    
    a {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        text-decoration: none;
        color: #333;
    }
    
    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none;
    }
    
    mark {
        background-color: #ff9;
        color: #000;
        font-style: italic;
        font-weight: bold;
    }
    
    del {
        text-decoration: line-through;
    }
    
    abbr[title],
    dfn[title] {
        border-bottom: 1px dotted #000;
        cursor: help;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #cccccc;
        margin: 1em 0;
        padding: 0;
    }
    
    input,
    select {
        vertical-align: middle;
    }
    
    em,
    i {
        font-style: normal;
    }
    
    .clearfix:after,
    .clearfix:before {
        content: "";
        display: table;
    }
    
    .clearfix:after {
        clear: both;
    }
    
    .clearfix {
        *zoom: 1;
    }
    
    .w1200 {
        width: 1200px;
        margin: 0 auto;
    }
    
    .header {
        height: 120px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 100px;
    }
    
    .header>a img {
        width: 242px;
        height: 114px;
    }
    
    .header>a img.bigLogo {
        display: block;
    }
    
    .header>a img.SmallLogo {
        display: none;
    }
    
    .header ul {
        display: flex;
        justify-content: space-around;
        margin-left: 60px;
    }
    
    .header ul li {
        margin-right: 40px;
        position: relative;
    }
    
    .header ul li:first-child::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: -10px;
        top: 6px;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 6px solid #333;
    }
    
    .menuBox {
        display: none;
    }
    
    .header ul li div {
        position: absolute;
        background: white;
        border: 1px solid #999;
        width: 200px;
        padding: 10px 0;
        left: -50px;
        top: 20px;
        display: none;
        z-index: 999;
    }
    
    .header ul li div>a {
        line-height: 40px;
        font-size: 14px;
        display: block;
        padding: 0 20px;
    }
    
    .header ul li div>a:hover {
        background: #c1c1c1;
        color: #333;
        text-decoration: none;
    }
    
    .header ul li a {
        color: #5C6A5C;
        font-size: 20px;
    }
    
    .header ul li a:hover {
        text-decoration: underline;
    }
    
    .header .searchBox {
        width: 264px;
        height: 51px;
        background: #ffffff;
        border: 1px solid #777777;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }
    
    .header .searchBox input {
        width: 80%;
        height: 40px;
        border: none;
        outline: none;
        padding-left: 20px;
        background: none;
        color: #999999;
        font-size: 18px;
    }
    
    .header .searchBox img {
        width: 42px;
    }
    
    .footerBox {
        width: 100%;
        height: 250px;
        background: #64ac87;
        overflow: hidden;
    }
    
    .footerBox h3 {
        text-align: center;
        font-size: 26px;
        font-family: Arial, Arial-Bold;
        font-weight: Bold;
        margin-top: 50px;
        color: #f2f8f4;
    }
    
    .footerBox p {
        text-align: center;
        margin-top: 10px;
    }
    
    .footerBox p a img {
        width: 50px;
    }
    
    .footerBox div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .footerBox div span {
        display: flex;
        align-items: center;
        margin: 0 20px;
    }
    
    .footerBox div span img {
        width: 50px;
    }
    
    .footerBox i {
        display: block;
        text-align: center;
        margin-top: 50px;
        font-size: 14px;
    }
    
    @media screen and (max-width: 992px) {
        .header {
            height: 60px;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 20px;
            justify-content: space-between
        }
        .header>a img.bigLogo {
            display: none;
        }
        .header>a img.SmallLogo {
            display: block;
            width: 104px;
            height: 32px;
        }
        .header .searchBox img.menuBox {
            display: block;
        }
        .header ul {
            position: absolute;
            border-top: 1px solid #eee;
            top: 60px;
            left: 0;
            flex-direction: column;
            margin: 0;
            width: 100%;
            z-index: 999;
            background: rgb(252, 251, 241);
            display: none;
        }
        .header ul li {
            margin-right: 0;
            position: relative;
            line-height: 40px;
            text-align: center;
            border-bottom: 1px solid #eee;
        }
        .header ul li:first-child::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            right: 50%;
            margin-right: -40px;
            top: 19px;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            border-top: 6px solid #333;
        }
        .header ul li div {
            position: initial;
            background: white;
            border: 1px solid #eee;
            width: 200px;
            padding: 10px 0;
            left: -50px;
            top: 20px;
            display: none;
            z-index: 999;
            width: 100%;
        }
        .header ul li div>a {
            line-height: 40px;
            font-size: 14px;
            display: block;
            padding: 0 20px;
        }
        .header ul li div>a:hover {
            background: #c1c1c1;
            color: #333;
            text-decoration: none;
        }
        .header ul li a {
            color: #5C6A5C;
            font-size: 14px;
        }
        .header ul li a:hover {
            text-decoration: underline;
        }
        .header .searchBox {
            width: 100px;
            height: 50px;
            background: #ffffff;
            border: none;
        }
        .footerBox {
            width: 100%;
            height: auto;
            background: #64ac87;
            overflow: hidden;
        }
        .footerBox h3 {
            text-align: center;
            font-size: 16px;
            font-family: Arial, Arial-Bold;
            font-weight: Bold;
            margin-top: 30px;
            color: #f2f8f4;
        }
        .footerBox p {
            text-align: center;
            margin-top: 10px;
        }
        .footerBox p a img {
            width: 50px;
        }
        .footerBox div {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }
        .footerBox div span {
            display: flex;
            align-items: center;
            margin: 0 20px;
            font-size: 12px;
            color: white;
        }
        .footerBox div span img {
            width: 40px;
        }
        .footerBox i {
            display: block;
            text-align: center;
            margin-top: 10px;
            font-size: 12px;
            padding: 0 20px 10px;
        }
    }